.cardHeader{
    background: white;
    border: 1px solid #f6f6f6;
    display: flex;
    align-items: center;
    /*margin-left: 2px;*/
    /*border-radius: 5px;*/
    /*padding: 10px;*/
    /*margin: 4px;*/
}