<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
        version="5.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


<!--    <servlet>-->
<!--        <servlet-name>dashboard</servlet-name>-->
<!--        <jsp-file>/dashboard.jsp</jsp-file>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>dashboard</servlet-name>-->
<!--        <url-pattern>/dashboard</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--        <servlet-name>home</servlet-name>-->
<!--        <jsp-file>/site-develophub/index.jsp</jsp-file>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>home</servlet-name>-->
<!--        <url-pattern>/home</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--        <servlet-name>auth</servlet-name>-->
<!--        <jsp-file>/auth.jsp</jsp-file>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>auth</servlet-name>-->
<!--        <url-pattern>/auth</url-pattern>-->
<!--    </servlet-mapping>-->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/dispatcher-config.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                /WEB-INF/dispatcher-config.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>app</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
<!--    <filter>-->
<!--        <filter-name>spaRedirectFilter</filter-name>-->
<!--        <filter-class>com.main.ep.website.server.filter.SpaRedirectFilter</filter-class>-->
<!--    </filter>-->

<!--    <filter-mapping>-->
<!--        <filter-name>spaRedirectFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->


    <!-- MIME Types -->
    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/javascript</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>json</extension>
        <mime-type>application/json</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>


</web-app>