*{
    margin: 0;
    padding: 0;
    background: #fcfcfc;
}
body {
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: row;
}
.wrapper{
    /*display: flex;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 67.2rem;
    width: 800px;
    border:1px solid #f6f6f6;
    background: rgb(205,28,35);
    background: linear-gradient(11deg, rgba(205,28,35,1) 28%, rgba(162,58,180,1) 59%, rgba(1,1,1,1) 100%);
    outline: none;
    border-radius: 3px;
    /*box-shadow: 1px 1px 1px 1px #eaeaea;*/
}
.wrapper-title {
    font-weight: bold;
    color: white;
    opacity: 1;
}

.panel-login{
    outline: none;
    border:1px solid black;
    height: 500px;
    width: 800px;

}